*{
    font-family: 'Roboto';
}
body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}


ul {
    list-style: none;
}


.superior{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: seagreen;
    color: gold;
}

.superior-logo {
    padding: 10px;
}


.menu-nav  {
    display: flex;
    justify-content: flex-end;
}

.menu-nav a {
   /* display: block; */
   color: white;
   font-size: 1.15em;
}

.menu-nav a:hover{
   color: gold;
}

.links {
 display: flex;
 flex-direction: row;
}

.links li{
margin: 20px;
}

.relogio-img { 
    /* Rectangle 15 */
    display: flex;
    object-fit:cover;
    border-radius: 5%;

}

.relogio-img img { 
    width: 100%;
    height: 191px;

}

.introduçao {
    color: gold;
    
}

.titulo {
    display: flex;
    color: gold;
    justify-content: center;
    font-size: 3em;
    padding: 3vw;
}

.alinhamento {
    display: flex;
    justify-content: space-around;
}


.info {
    width: 40vw; 
    align-content: center;
    font-size: 1,5em;
}


.imagem {
    width: 30vw;
    border-radius: 20%;
}

.quem {
    padding: 5vw;
    background-color: seagreen;
    color: white;
}

.produtos2 {
 flex-direction: row-reverse;
}

.maps {

    display: flex;
    object-fit: cover;
    width: 100%;
    height: 350px;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.container{
    max-width: 1280px; 
    margin: 5vw;
    margin-left: 30vw;
}

.form-container{
background-color: seagreen;
padding: 20px;
}


form {
    background-color: white;
    max-width: 500px;
    height: 450px;
    padding: 60px;
    border-radius: 20px;
    padding-left: 25px;

}

form h1 {
    text-align: center;
    font-size: 30px;
    color: seagreen;
    background-color: white;;
}

form p {
    text-align: center;
    margin: 30px;
    background-color: white;
    font-size: 2vw;
    display: flex;
    justify-content: center;
}


.input-single {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 45px;
    border: 0;
    border-bottom: 20px;
    font-size: 5vw;
}

.input{
    border:0px;
    border-bottom: 3px solid seagreen;
    font-size: 17px;
}


.btn {
    width: 100%;
    text-align: center;
}

form input[type=submit] { 
    padding:5px 40px;
    border:0;
    border-radius: 10px;
    background-color: seagreen;
    color:gold;
    font-size: 20px;
    cursor:pointer;
    height: 2vw;
}

.rodape{
    background-color: seagreen;
}

.formula {
    color: grey;
} 



